@media (hover: none) {
	.logo:active {
		opacity: 0.5;
	}

	.menu__link:active {
		border-bottom: 3px solid #0b0b09;
	}

	.header__title:active span {
		letter-spacing: 0;
	}

	.menu__icon.tg:active svg path {
		fill: #0088cc;
	}

	.menu__icon.instagram:active svg {
		fill: #fff;
		background: radial-gradient(
				circle farthest-corner at 35% 90%,
				#fec564,
				transparent 50%
			),
			radial-gradient(
				circle farthest-corner at 0 140%,
				#fec564,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 0 -25%,
				#5258cf,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 20% -50%,
				#5258cf,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 0,
				#893dc2,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 60% -20%,
				#893dc2,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 100%,
				#d9317a,
				transparent
			),
			linear-gradient(
				#6559ca,
				#bc318f 30%,
				#e33f5f 50%,
				#f77638 70%,
				#fec66d 100%
			);
	}

	.menu__icon.instagram:active svg path {
		fill: #fff;
	}

	.btn:active {
		background-color: #d8d8d8;
	}

	.header__content-social-text-link:active {
		opacity: 0.8;
	}

	.content__link:active {
		color: #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
	}

	.content__link:active svg path {
		fill: #d8d8d8;
	}

	.organizers__info-link:active {
		opacity: 0.8;
	}

	.rates__card:active .rates__card-title {
		color: #ffce00;
		opacity: 1;
	}

	.rates__card:active .rates__card-list,
	.rates__card:active .rates__card-price {
		opacity: 1;
	}

	.prev:active,
	.next:active {
		background-color: #ffce00;
	}

	.prev:active svg path,
	.next:active svg path {
		fill: #0b0b09;
	}

	.footer__text a:active {
		opacity: 0.8;
	}

	.footer__icon:active svg {
		fill: black;
		background: radial-gradient(
				circle farthest-corner at 35% 90%,
				#fec564,
				transparent 50%
			),
			radial-gradient(
				circle farthest-corner at 0 140%,
				#fec564,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 0 -25%,
				#5258cf,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 20% -50%,
				#5258cf,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 0,
				#893dc2,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 60% -20%,
				#893dc2,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 100%,
				#d9317a,
				transparent
			),
			linear-gradient(
				#6559ca,
				#bc318f 30%,
				#e33f5f 50%,
				#f77638 70%,
				#fec66d 100%
			);
	}
}
