@media (hover: hover) {
	.logo:hover {
		opacity: 0.5;
	}

	.menu__items-link:hover {
		border-bottom: 3px solid #0b0b09;
	}

	.header__title:hover span {
		letter-spacing: 0;
	}

	.menu__icon.tg:hover svg path {
		fill: #d8d8d8;
	}

	.menu__icon.instagram:hover svg path {
		fill: #d8d8d8;
	}

	.btn:hover {
		background-color: #d8d8d8;
	}

	.header__content-social-text-link:hover {
		opacity: 0.8;
	}

	.content__link:hover {
		color: #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
	}

	.content__link:hover svg path {
		fill: #d8d8d8;
	}

	.rates__card:hover .rates__card-title {
		color: #ffce00;
		opacity: 1;
	}

	.rates__card:hover .rates__card-list,
	.rates__card:hover .rates__card-price {
		opacity: 1;
	}

	.prev:hover,
	.next:hover {
		background-color: #ffce00;
	}

	.prev:hover svg path,
	.next:hover svg path {
		fill: #0b0b09;
	}

	.organizers__info-link:hover {
		opacity: 0.8;
	}

	.footer__text a:hover {
		opacity: 0.8;
	}

	.footer__icon:hover svg path {
		fill: #d8d8d8;
	}
}
