@media (hover: none) {
	.logo:active {
		opacity: 0.5;
	}

	.menu__items-link:active {
		border-bottom: 3px solid #0b0b09;
	}

	.header__title:active span {
		letter-spacing: 0;
	}

	.menu__icon.tg:active svg path {
		fill: #d8d8d8;
	}

	.menu__icon.instagram:active svg path {
		fill: #d8d8d8;
	}

	.btn:active {
		background-color: #d8d8d8;
	}

	.header__content-social-text-link:active {
		opacity: 0.8;
	}

	.content__link:active {
		color: #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
	}

	.content__link:active svg path {
		fill: #d8d8d8;
	}

	.rates__card:active .rates__card-title {
		color: #ffce00;
		opacity: 1;
	}

	.rates__card:active .rates__card-list,
	.rates__card:active .rates__card-price {
		opacity: 1;
	}

	.prev:active,
	.next:active {
		background-color: #ffce00;
	}

	.prev:active svg path,
	.next:active svg path {
		fill: #0b0b09;
	}

	.organizers__info-link:active {
		opacity: 0.8;
	}

	.footer__text a:active {
		opacity: 0.8;
	}

	.footer__icon:active svg path {
		fill: #d8d8d8;
	}
}
