@import url(./fonts.css);
@import url(./hover-mobile.css);
@import url(./hover-desktop.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Prosto One", sans-serif;
	margin: 0 auto;
	background: #0b0b09;
	color: #2e2e2e;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

.page {
	overflow: hidden;
}

.container {
	max-width: 1780px;
	margin: 0 auto;
}
/* Стили для Header */

.header {
	background-image: url("../images/header-bckg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}

.header__container {
	max-width: 1780px;
	margin: 0 auto;
}

.header__top {
	padding-top: 70px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
}

.logo {
	max-width: 74px;
	transition: 0.5s;
}

.menu {
	display: flex;
	margin-left: 170px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.menu__items {
	display: flex;
	gap: 65px;
}

.menu__items-link {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	font-weight: 500;
	border-bottom: 3px solid transparent;
	transition: 0.5s;
}

.menu__icons {
	display: flex;
	align-items: center;
	gap: 28px;
}
.menu__icon.tg svg path,
.menu__icon.instagram svg,
.menu__icon.instagram svg path {
	transition: 0.5s;
	border-radius: 10px;
}
.menu__burger {
	display: none;
}
.menu__burger-button {
	display: none;
	cursor: pointer;
}

.header__content-text {
	max-width: 1110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header__title {
	font-size: 130px;
	font-weight: 400;
	line-height: 0.8;
	text-align: left;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	margin-top: 112px;
	cursor: pointer;
}

.header__title span {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: transparent;
	letter-spacing: 1em;
	transition: 0.7s;
}

.header__subtitle {
	color: #ffce00;
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.04em;
	text-align: left;
	text-transform: uppercase;
	max-width: 542px;
	margin: 0 auto;
	padding-top: 66px;
	position: relative;
	z-index: 2;
}

.header__text {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2;
	max-width: 542px;
	margin: 0 auto;
	padding-top: 167px;
	position: relative;
	z-index: 2;
}

.btn {
	padding: 30px 36px 30px 36px;
	border-radius: 0px 50px 0px 50px;
	font-family: "Prosto One", sans-serif;
	font-size: 26px;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #ffce00;
	color: #2e2e2e;
	border: none;
	max-width: 432px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	transition: 0.5s;
	max-height: 78px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__btn {
	width: 100%;
	max-width: 542px;
	margin-bottom: 465px;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
}

.header__content-image {
	position: absolute;
	top: 0;
	right: 0;
}

.header__image {
	display: block;
}

.header__image-adaptive {
	display: none;
}

.header__image-adaptive-mobile {
	display: none;
}

.header__content-image img {
	position: relative;
}

.krilova {
	position: absolute;
	top: 75%;
	right: 48%;
	z-index: 3;
}

.samoilova {
	position: absolute;
	top: 61%;
	right: 5%;
	z-index: 3;
}

.header__content-social-text-title {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2;
	color: #f4f4f4;
}

.header__content-social-text-link {
	display: flex;
	align-items: center;
	gap: 15px;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	color: #f4f4f4;
	padding-top: 7px;
	transition: 0.5s;
}

.header__circle img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 1800px;
}

/* Стили для For */

.for {
	padding-top: 100px;
	padding-bottom: 102px;
}

.for .container {
	max-width: 1465px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.for__title {
	font-size: 113px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
	color: #f4f4f4;
	max-width: 450px;
}

.for__list {
	display: flex;
	flex-direction: column;
	max-width: 725px;
	row-gap: 70px;
}

.for__list-item {
	font-family: "Montserrat", sans-serif;
	font-size: 36px;
	font-style: italic;
	font-weight: 400;
	line-height: 1.2;
	text-align: left;
	text-transform: uppercase;
	color: #f4f4f4;
	display: flex;
	gap: 15px;
}

.for__list-item svg {
	width: 100%;
	max-width: 20px;
	margin-top: 10px;
}

.for__list-item span {
	font-family: "Prosto One", sans-serif;
	letter-spacing: 0.04em;
	font-style: normal;
}

/* Стили для Events */

.events {
	margin-top: 150px;
	background-image: url(../images/events-bckg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.events__container {
	max-width: 1780px;
	margin: 0 auto;
}
.events__top {
	display: flex;
}

.events__top-title {
	font-size: 113px;
	font-weight: 400;
	line-height: 1.2;
	text-align: left;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffce00;
	text-transform: uppercase;
	max-width: 1168px;
	position: relative;
	right: -45%;
	bottom: -100px;
	opacity: 0.6;
}

.events__content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 170px;
	padding-bottom: 330px;
}

.evets__desc {
	margin-left: 30px;
}

.events__desc-title {
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.04em;
	text-align: left;
	text-transform: uppercase;
	color: #f4f4f4;
}

.events__desc-text {
	font-family: "Montserrat", sans-serif;
	font-size: clamp(16px, 2vw, 30px);
	font-style: italic;
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
	color: #f4f4f4;
	max-width: 70%;
}

.events__desc-date {
	display: flex;
	column-gap: 38px;
	padding-top: 26px;
}

.events__desc-date-item {
	display: flex;
	column-gap: 15px;
	align-items: center;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	color: #f4f4f4;
}

.content {
	margin-left: 800px;
	padding-top: 100px;
}

.content__title {
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.04em;
	text-align: left;
	color: #f4f4f4;
	text-transform: uppercase;
	max-width: 640px;
}

.content__title span {
	font-family: "Montserrat", sans-serif;
	font-style: italic;
}

.content__text {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	line-height: 1.2;
	max-width: 338px;
	padding-top: 20px;
	color: #eee8cb;
	opacity: 0.5;
}

.content__link {
	font-size: 26px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
	color: #ffce00;
	margin-top: 105px;
	margin-bottom: 82px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	column-gap: 10px;
	border-bottom: 1px solid #ffce00;
	max-width: 310px;
	transition: 0.5s;
}

/* Стили для Organizers */

.organizers {
	padding-top: 170px;
	margin-bottom: 20px;
	position: relative;
}

.organizers .container {
	position: relative;
}

.organizers__title {
	font-weight: 400;
	font-size: 113px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #f4f4f4;
	max-width: 1110px;
}

.organizers__info {
	display: flex;
	justify-content: center;
	column-gap: 44px;
	padding-top: 90px;
	padding-bottom: 150px;
}

.organizers__info-content {
	max-width: 418px;
}

.organizers__info-title {
	font-weight: 400;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #f4f4f4;
}

.organizers__info-link {
	display: flex;
	align-items: center;
	column-gap: 15px;
	padding-top: 7px;
	color: #f4f4f4;
	font-weight: 500;
	font-size: 20px;
	transition: 0.5s;
}

.organizers__info-list {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	padding-top: 75px;
}

.organizers__info-list-item {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	color: #f4f4f4;
	display: flex;
	gap: 10px;
}

.organizers__info-image-adaptive {
	display: none;
}

.organizers__info-list-item svg {
	width: 100%;
	max-width: 15px;
}

.organizers__info-list-item::marker {
	color: #ffce00;
	font-size: 38px;
}

.organizers__info-list-item span {
	font-weight: 400;
}

.end {
	align-content: end;
	position: relative;
	top: 165px;
	margin-left: 44px;
}

.organizers__titles-title {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffce00;
	font-weight: 400;
	font-size: 113px;
	line-height: 1.2;
	text-transform: uppercase;
	opacity: 0.6;
}

.organizers__titles-title:nth-child(1) {
	position: absolute;
	top: 20%;
	right: 0;
	z-index: -1;
}

.organizers__titles-title:nth-child(2) {
	position: absolute;
	top: 10%;
	right: -28%;
	z-index: -1;
}

.organizers__titles-title:nth-child(3) {
	position: absolute;
	bottom: 6%;
	left: 6px;
	z-index: -1;
}

.organizers__titles-title:nth-child(4) {
	display: none;
}

.organizers__line {
	display: none;
}

/* Стили для Mission */

.mission {
	padding-top: 217px;
	padding-bottom: 190px;
}

.mission__container {
	max-width: 1375px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.mission__text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mission__text-title {
	font-weight: 400;
	font-size: 113px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #f4f4f4;
	max-width: 737px;
}

.mission__text-desc {
	font-weight: 400;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #ffce00;
	max-width: 540px;
}
.mission__text-desc span {
	font-weight: 400;
	font-size: 24px;
	text-transform: none;
	color: #f4f4f4;
	padding-top: 22px;
}

.mission__image {
	padding-top: 90px;
}

.mission__content {
	display: flex;
	align-items: flex-start;
	padding-top: 40px;
	justify-content: space-between;
}

.mission__content-text-title {
	max-width: 500px;
	font-family: "Montserrat", sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #f4f4f4;
}

.mission__content-text-title span {
	font-style: normal;
	font-weight: 500;
}

.mission__content-text-list {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.mission__content-text-list-item {
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
	color: #f4f4f4;
	display: flex;
	gap: 10px;
	font-style: normal;
	text-transform: uppercase;
}

.mission__content-text-list-item svg {
	width: 100%;
	max-width: 20px;
}

.mission__content-text-list-item::marker {
	font-size: 55px;
	color: #ffce00;
}

.mission__desc {
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
	color: #f4f4f4;
	max-width: 709px;
	align-self: flex-end;
	padding-top: 77px;
	font-style: normal;
	text-transform: none;
}

.mission__desc span {
	color: #ffce00;
}

/* Стили для Rates */

.rates {
	padding-top: 200px;
	position: relative;
	background-image: url(../images/rates-bckg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.rates .container {
	padding-bottom: 500px;
}

.rates__title {
	font-weight: 400;
	font-size: 113px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #f4f4f4;
	position: relative;
	bottom: 120px;
}

.rates__cards {
	max-width: 1610px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	column-gap: 230px;
}

.rates__card {
	cursor: pointer;
	transition: 0.5s;
}

.rates__card-title {
	font-weight: 400;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #f4f4f4;
	max-width: 534px;
	opacity: 0.5;
	transition: 0.5s;
}

.rates__card-title.active {
	color: #ffce00;
	opacity: 1;
}

.rates__card-list {
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding-top: 30px;
	color: #f4f4f4;
	font-weight: 500;
	font-size: 20px;
	opacity: 0.5;
	transition: 0.5s;
}

.rates__card-list-item {
	display: flex;
	gap: 14px;
	align-items: center;
}

.rates__card-price {
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
	color: #f4f4f4;
	opacity: 0.5;
	padding-top: 45px;
	transition: 0.5s;
}

.rates__card-price.active,
.rates__card-list.active {
	opacity: 1;
}

/* Стили для Buttons */
.buttons {
	text-align: center;
	position: relative;
	bottom: 200px;
}

.rates__btns {
	padding-top: 200px;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.rates__btn {
	margin: 0 auto;
}

.speaker,
.partner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.speaker__title,
.partner__title {
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.04em;
	text-align: left;
	text-transform: uppercase;
	color: #f4f4f4;
}

.speaker__btn,
.partner__btn {
	font-family: "Prosto One", sans-serif;
	font-size: 26px;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	max-width: 369px;
	background: transparent;
	border: none;
	border-bottom: 1px solid;
	margin-top: 30px;
	cursor: pointer;
}

/* Стили для Reviews */

.reviews {
	padding-top: 50px;
	padding-bottom: 200px;
	position: relative;
}

.reviews__title {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffce00;
	font-weight: 400;
	font-size: 113px;
	line-height: 1.2;
	text-transform: uppercase;
	opacity: 0.6;
}

.reviews__title:nth-of-type(1) {
	position: absolute;
	top: 0;
	right: -99%;
	width: 3000px;
}

.reviews__title:nth-of-type(2) {
	position: absolute;
	top: 7%;
	left: -2%;
	width: 3000px;
}

.reviews__title:nth-of-type(3) {
	position: absolute;
	left: -59%;
	bottom: 31%;
	width: 3000px;
}

.reviews__title:nth-of-type(4) {
	display: none;
}

/* Slider */
.image-slider__wrapper.swiper-wrapper {
	align-items: center;
}

.image-slider__image {
	text-align: center;
}

.image-slider__image img {
	max-width: 100%;
	filter: blur(5px);
}

.swiper-slide-active img {
	filter: none;
	border-radius: 10px;
}

.buttons__slide {
	display: flex;
	justify-content: center;
	gap: 55px;
	padding-top: 136px;
}

.prev,
.next {
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background: #ffce005e;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.5s;
}

/* Стили для Footer */

.footer {
	padding-top: 200px;
	padding-bottom: 60px;
	background-image: url(../images/footer-bckg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1780px;
	margin: 0 auto;
}

.footer__text {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer__text a {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	text-decoration: underline;
}

.footer__logo {
	text-align: center;
}

.footer__content {
	max-width: 300px;
}

.footer__content-icons {
	display: flex;
	justify-content: flex-end;
	gap: 32px;
}

.footer__icon svg path {
	transition: 0.5s;
	border-radius: 10px;
}

.footer__content-text {
	font-size: 13px;
	font-weight: 500;
	line-height: 1.2;
	text-align: right;
	color: #d1d1d1;
	padding-top: 12px;
}

.popup {
	position: fixed;
	z-index: -5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.5s;
}

.popup.active {
	opacity: 1;
	z-index: 5;
}

/* Стили для модального окна */
.popup .container {
	background-color: #151514;
	padding: 63px 80px;
	position: relative;
	height: 100svh;
	overflow-y: auto;
}

.form {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	max-width: 476px;
	gap: 35px;
}

#form__speaker {
	gap: 45px;
}

.popup {
	color: #f4f4f4;
	background: #000000e3;
}

.popup__title {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2;
	text-align: left;
	max-width: 410px;
}

.speaker__title {
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
}

.popup__text {
	max-width: 500px;
	font-family: "Montserrat", sans-serif;
	font-size: clamp(12px, 3vw, 18px);
	font-weight: 400;
	line-height: 1.2;
	padding-top: 30px;
}

.form__group {
	padding: 10px 20px;
	gap: 10px;
	border-bottom: 1px solid #eee8cb;
	height: 40px;
	box-sizing: border-box;
	position: relative;
	transition: 0.2s ease all;
	display: flex;
	flex-direction: column;
}

.form__group-text {
	font-family: "Montserrat", sans-serif;
	font-size: clamp(9px, 2vw, 14px);
	font-weight: 400;
	line-height: 1.2;
	max-width: 405px;
	color: #eee8cb;
	padding-top: 5px;
}

.form__group:focus-within {
	border-bottom: 1px solid #f9d634;
}

.form__input {
	border: 0;
	outline: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background: transparent;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	color: #f9d634;
}

.form__label {
	font-family: "Montserrat", sans-serif;
	font-size: clamp(10px, 3vw, 14px);
	font-weight: 500;
	line-height: 1.2;
	color: #eee8cb;
	position: absolute;
	left: 23px;
	top: 10px;
	opacity: 0.6;
	transition: 0.2s ease all;
}

.form__input:focus ~ .form__label,
.form__input:not(:focus):valid ~ .form__label {
	top: -12px;
}

.checkboxs {
	padding-top: 60px;
	max-width: 510px;
}

.involvement {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.checkbox {
	display: flex;
	column-gap: 15px;
	align-items: flex-start;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
}

.checkbox__label span {
	padding-top: 20px;
	display: inline-block;
}

.checkbox label a {
	text-decoration: underline;
}

.agreement-checkbox .checkbox label span {
	text-decoration: underline;
}

.agreement-checkbox {
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.form__partner-text {
	color: #d1d1d1;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}

.agreement-checkbox .checkbox {
	color: #d1d1d1;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}

.form__partner-btn {
	margin-top: 60px;
}

.form__partner-btn:disabled {
	background-color: #d1d1d1;
	cursor: not-allowed;
}

.close__form {
	background: transparent;
	border: none;
	position: absolute;
	top: 35px;
	right: 35px;
	cursor: pointer;
}

.message__error {
	display: none;
	color: #8f1c0c;
	font-size: 14px;
	padding-top: 5px;
}

/* Стили для кругов */

.involvement .checkbox input[type="radio"] {
	display: none;
}

.involvement .checkbox label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

.involvement .checkbox label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 2px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid #ffce00; /* цвет обводки по умолчанию */
}

.involvement .checkbox input[type="radio"]:checked + label::before {
	border-color: #ffce00; /* оранжевая обводка при выборе */
}

.involvement .checkbox label::after {
	content: "";
	position: absolute;
	left: 3px;
	top: 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #ffce00;
	transform: rotate(45deg);
	display: none;
}

.involvement .checkbox input[type="radio"]:checked + label::after {
	display: block;
}

.checkbox input[type="radio"]:checked + label::before {
	background-color: #ffce00; /* Изменяем цвет заливки на желтый при выборе */
}

/* Стили для чекбоксов */

.checkbox input[type="checkbox"] {
	display: none;
}

/* Оформление кастомного чекбокса */
.checkbox input[type="checkbox"] + label {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
}

/* Оформление фона кастомного чекбокса */
.checkbox input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #d1d1d1;
	border-radius: 4px;
}

/* Оформление галочки внутри кастомного чекбокса */
.checkbox input[type="checkbox"]:checked + label:before {
	background-color: #ffce00a8;
	border: 2px solid #ffce00;
}

.checkbox input[type="checkbox"]:checked + label:after {
	content: "\2713";
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	position: absolute;
	top: 2px;
	left: 4px;
}

/* Стили для инпутов */
*/ .checkbox input[type="checkbox"]:checked + label::before {
	background-color: #ffce00; /* Изменяем цвет заливки на желтый при выборе */
}

.form__partner-form-input:focus {
	outline: none;
	border-bottom-color: #ffce00;
	color: #ffce00;
}

.form__partner-form-input:invalid {
	border-bottom-color: #da1d03;
	color: #da1d03;
}

.form__partner-form-input:invalid + .message__error {
	display: block;
}

.form__partner-form-input:valid {
	background: transparent;
}

.application {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease all;
}

.application.active {
	display: flex;
	visibility: visible;
	opacity: 1;
}

.application__container {
	background-color: #2e2e2e;
	max-width: 700px;
	padding: 80px;
	border-radius: 10px;
}

.application__title {
	color: #f4f4f4;
	font-size: 58px;
	text-align: center;
}
